/* Custom Animations */
@keyframes float {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0px);
  }
}

/* Custom Classes */
.animate-float {
  animation: float 3s ease-in-out infinite;
}

.gradient-bg {
  background: linear-gradient(135deg, #1e40af, #3b82f6);
}

.katrol-btn {
  background-color: #f3f4f6;
  color: #374151;
  transition: all 0.3s ease;
}

.katrol-btn:hover {
  background-color: #e5e7eb;
}

.katrol-btn.active {
  background-color: #3b82f6;
  color: white;
}

.dark .katrol-btn {
  background-color: #4b5563;
  color: #d1d5db;
}

.dark .katrol-btn:hover {
  background-color: #6b7280;
}

.dark .katrol-btn.active {
  background-color: #2563eb;
  color: white;
}

.card-hover {
  transition: all 0.3s ease;
}

.card-hover:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(23, 37, 143, 0.729);
}

/* Quiz Specific Styles */
.quiz-option {
  transition: all 0.2s ease;
}

.quiz-option:hover {
  background-color: #dbeafe;
}

.quiz-option.correct {
  background-color: #86efac;
}

.quiz-option.wrong {
  background-color: #fca5a5;
}

.dark .quiz-option:hover {
  background-color: #1e40af;
}

.dark .quiz-option.correct {
  background-color: #166534;
}

.dark .quiz-option.wrong {
  background-color: #991b1b;
}

.icon-dark-mode {
  transition: all 0.3s ease;
}
.dark .icon-dark-mode {
  filter: brightness(0) invert(1);
}

.github-icon {
  color: #333;
}
.dark .github-icon {
  color: #fff;
}

.card {
  position: relative;
  width: 300px;
  height: 200px;
  background: linear-gradient(-45deg, #f89b29 0%, #ff0f7b 100%);
  /* background-image: url(https://cdn-web.ruangguru.com/landing-pages/assets/hs/Katrol%20tetap.png); */
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
  background-size: cover;
}

.card:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.card__content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  padding: 20px;
  box-sizing: border-box;
  background-color: #fff;
  opacity: 0;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
}

.card:hover .card__content {
  transform: translate(-50%, -50%) rotate(0deg);
  opacity: 1;
}

.card__title {
  margin: 0;
  font-size: 24px;
  color: #333;
  font-weight: 700;
}

.card__description {
  margin: 10px 0 0;
  font-size: 14px;
  color: #777;
  line-height: 1.4;
}

.card:hover svg {
  scale: 0;
}
